
.navbar
{
    background-color: #9c1515;
}

.enlaces
{
    color: #ffffff !important;
    font-weight: bold;
    text-shadow: #cac0c0 1px 2px 3px;
}

.nav-link:hover
{
    color: #f82222 !important;
    font-weight: bold;
}

.navbar-brand
{
    color: #ffffff !important;
    font-weight: bold;
    text-shadow: #cac0c0 1px 2px 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}